language: node_js
sudo: false

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8

matrix:
  include:
    - node_js: "0.10"
      env: V_BCRYPT=1.0.3 TRAVIS=travis CXX=g++-4.8
    - node_js: "0.12"
      env: V_BCRYPT=1.0.3 TRAVIS=travis CXX=g++-4.8
    - node_js: "iojs"
      env: V_BCRYPT=1.0.3 TRAVIS=travis CXX=g++-4.8
    - node_js: "4"
      env: V_BCRYPT=1.0.3 TRAVIS=travis CXX=g++-4.8
    - node_js: "6"
      env: V_BCRYPT=1.0.3 TRAVIS=travis CXX=g++-4.8
    - node_js: "8"
      env: V_BCRYPT=1.0.3 TRAVIS=travis CXX=g++-4.8
    - node_js: "10"
      env: V_BCRYPT=2.0.1 TRAVIS=travis CXX=g++-4.8
    - node_js: "12"
      env: V_BCRYPT=3.0.6 TRAVIS=travis CXX=g++-4.8

before_install:
  - npm install bcrypt@$V_BCRYPT

install: npm install

after_success: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
